<div>
    <a href="https://instagram.com/oauth/authorize/?client_id=bd6c469ca00f4c7391905ffff1c874be&redirect_uri=http://localhost:9000/authorized&response_type=token">Authorize with Instagram</a>
</div>


